<mat-card>

    <h2 class="academicheading">
        <span>MULTIPLE IMPORT </span>
    </h2>
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="demo-full-width" appearance="fill">
                    <mat-label>Class</mat-label>
                    <select matNativeControl>
                    <option value=""></option >
                    <option selected>Select Class</option>
                    <option>One</option>
                    <option>Two</option>
                    <option>Three</option>
                    <option>Four</option>
                    <option>Five</option>
                    <option>Six</option>
                    <option>Seven</option>
                    <option>Eight</option>
                </select>
                </mat-form-field>
            </td>
        </tr>
    </table>


    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="demo-full-width" appearance="fill">
                    <mat-label>Section</mat-label>
                    <select matNativeControl>
                  <option value=""></option >
                  <option selected>Select Section</option>
                  <option>A</option>
                  <option>B</option>
                  <option>C</option>

              </select>
                </mat-form-field>
            </td>
        </tr>
    </table>


    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <p>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>CSV FILE</mat-label>
                        <textarea matInput></textarea>
                    </mat-form-field>
                </p>
            </td>
        </tr>
    </table>
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <button mat-raised-button color="primary">Primary</button>
            </td>
        </tr>
    </table>

</mat-card>
