<app-header>
</app-header>

<!-------------------------------- DRAWER SECTION START ------------------------------------------>




<!--=================================================================================================-->
<!-------------------------------- ADMISSION CREATE ONLINE AND CATEGORY ETC.... MENU ------------------------------------------>
<!--=================================================================================================-->


<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <button mat-raised-button class="addstp" [matMenuTriggerFor]="admissionmenu" aria-label="Example icon-button with a menu">
        <mat-icon class="addrecord">edit</mat-icon>
      </button>
        <mat-menu #admissionmenu="matMenu">
            <button mat-menu-item routerLink="createadmission">
          <mat-icon>play_arrow</mat-icon>
          <span>Create Admission</span>
        </button>
            <button mat-menu-item routerLink="onlineadmission">
          <mat-icon>play_arrow</mat-icon>
          <span>Online Admission</span>
        </button>
            <button mat-menu-item routerLink="categorypage">
          <mat-icon>play_arrow</mat-icon>
          <span>Category</span>
        </button>
            <button mat-menu-item routerLink="multipleimport">
          <mat-icon>play_arrow</mat-icon>
          <span>Multiple import</span>
        </button>
        </mat-menu>


        <!--=================================================================================================-->
        <!-------------------------------- STUDENT DETAILS MENU ------------------------------------------>
        <!--=================================================================================================-->


        <button mat-raised-button class="addstp" [matMenuTriggerFor]="studentmenu" aria-label="Example icon-button with a menu">
          <mat-icon class="addrecord">school</mat-icon>
        </button>
        <mat-menu #studentmenu="matMenu">
            <button mat-menu-item routerLink="studentlist">
            <mat-icon>play_arrow</mat-icon>
            <span>Student List</span>
          </button>
            <button mat-menu-item routerLink="logindeactive">
            <mat-icon>play_arrow</mat-icon>
            <span>Login Deactive</span>
          </button>
        </mat-menu>


        <!--=================================================================================================-->
        <!-------------------------------- PARENTS DETAILS MENU------------------------------------------>
        <!--=================================================================================================-->



        <button mat-raised-button class="addstp" [matMenuTriggerFor]="parentmenu" aria-label="Example icon-button with a menu">
          <mat-icon class="addrecord">person_add</mat-icon>
        </button>
        <mat-menu #parentmenu="matMenu">
            <button mat-menu-item routerLink="parentslist">
            <mat-icon>play_arrow</mat-icon>
            <span>Parent List</span>
          </button>
            <button mat-menu-item routerLink="createparents">
            <mat-icon>play_arrow</mat-icon>
            <span>Add Parent</span>
          </button>
            <button mat-menu-item routerLink="parentlogindeactive">
            <mat-icon>play_arrow</mat-icon>
            <span>Login Deactive</span>
          </button>
        </mat-menu>


        <!--=================================================================================================-->
        <!-------------------------------- EMPLOYEE DETAILS MENU ------------------------------------------>
        <!--=================================================================================================-->



        <button mat-raised-button class="addstp" [matMenuTriggerFor]="employeemenu" aria-label="Example icon-button with a menu">
          <mat-icon class="addrecord">group</mat-icon>
        </button>
        <mat-menu #employeemenu="matMenu">
            <button mat-menu-item routerLink="employeelist">
            <mat-icon>play_arrow</mat-icon>
            <span>Employee List</span>
          </button>
            <button mat-menu-item routerLink="adddep">
            <mat-icon>play_arrow</mat-icon>
            <span>Add Department</span>
          </button>
            <button mat-menu-item routerLink="adddesignation">
            <mat-icon>play_arrow</mat-icon>
            <span>Add Designation</span>
          </button>
            <button mat-menu-item routerLink="addemployee">
            <mat-icon>play_arrow</mat-icon>
            <span>Add Employee</span>
          </button>
            <button mat-menu-item routerLink="emplogdeactive">
            <mat-icon>play_arrow</mat-icon>
            <span>Login Deactive</span>
          </button>
        </mat-menu>



        <!--=================================================================================================-->
        <!-------------------------------- ID CARD ADMIT CARD STD AND EMPLOYEE MENU ------------------------------------------>
        <!--=================================================================================================-->



        <button mat-raised-button class="addstp" [matMenuTriggerFor]="cardmenu" aria-label="Example icon-button with a menu">
          <mat-icon class="addrecord">credit_card</mat-icon>
        </button>
        <mat-menu #cardmenu="matMenu">
            <button mat-menu-item routerLink="idcardtemp">
            <mat-icon>play_arrow</mat-icon>
            <span>Id Card Template</span>
          </button>
            <button mat-menu-item routerLink="studentidcard">
            <mat-icon>play_arrow</mat-icon>
            <span>Student Id Card</span>
          </button>
            <button mat-menu-item routerLink="employeeidcard">
            <mat-icon>play_arrow</mat-icon>
            <span>Employee Id Card</span>
          </button>
            <button mat-menu-item routerLink="admitcardtemplate">
            <mat-icon>play_arrow</mat-icon>
            <span>Admit Card Template</span>
          </button>
            <button mat-menu-item routerLink="generateadmitcard">
            <mat-icon>play_arrow</mat-icon>
            <span>Generate Admit Card</span>
          </button>
        </mat-menu>
        <!----------------------------------------------------------------------------------------------->
        <!--================================CERTIFICATE MENU===========================================-->
        <!----------------------------------------------------------------------------------------------->


        <button mat-raised-button class="addstp" [matMenuTriggerFor]="certificatemenu" aria-label="Example icon-button with a menu">
          <mat-icon class="addrecord">description</mat-icon>
        </button>
        <mat-menu #certificatemenu="matMenu">
            <button mat-menu-item routerLink="certificatetemplate">
            <mat-icon>play_arrow</mat-icon>
            <span>Certificate Template</span>
          </button>
            <button mat-menu-item routerLink="genstudentcertificate">
            <mat-icon>play_arrow</mat-icon>
            <span>Generate Student</span>
          </button>
            <button mat-menu-item routerLink="genemployeecertificate">
            <mat-icon>play_arrow</mat-icon>
            <span>Generate Employee</span>
          </button>
        </mat-menu>



        <!--=================================================================================================-->
        <!-------------------------------------- HUMAN RESOURSE MENU ------------------------------------------>
        <!--=================================================================================================-->


        <button mat-raised-button class="addstp" [matMenuTriggerFor]="HR"><mat-icon>chrome_reader_mode</mat-icon></button>
        <mat-menu #HR="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="payroll">
              <mat-icon>play_arrow</mat-icon>
              <span>Payroll</span>
            </button>
            <button mat-menu-item [matMenuTriggerFor]="advancesalary">
              <mat-icon>play_arrow</mat-icon>
              <span>Advance Salary</span>
            </button>
        </mat-menu>
        <mat-menu #payroll="matMenu">
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Salary Template</span>
          </button>
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Salary Assign</span>
          </button>
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Salary Payment</span>
          </button>
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Leave</span>
          </button>
        </mat-menu>

        <mat-menu #advancesalary="matMenu">
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>My Application</span>
          </button>
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Manage Application</span>
          </button>
        </mat-menu>



        <!--=================================================================================================-->
        <!--------------------------------ACADEMIC CLASS SECTION SUBJECT ETC MENU ------------------------------------------>
        <!--=================================================================================================-->



        <button mat-raised-button class="addstp" [matMenuTriggerFor]="academic"><mat-icon>home</mat-icon></button>
        <mat-menu #academic="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="classandsec">
              <mat-icon>play_arrow</mat-icon>
              <span>Class And Section</span>
            </button>
            <button mat-menu-item [matMenuTriggerFor]="subject">
              <mat-icon>play_arrow</mat-icon>
              <span>Subject</span>
            </button>
            <button mat-menu-item>
              <mat-icon>play_arrow</mat-icon>
              <span>Class Schedule</span>
            </button>
            <button mat-menu-item>
              <mat-icon>play_arrow</mat-icon>
              <span>Teacher Schedule</span>
            </button>
        </mat-menu>
        <mat-menu #classandsec="matMenu">
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Control Classes</span>
          </button>
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Assign Class Teacher</span>
          </button>
        </mat-menu>

        <mat-menu #subject="matMenu">
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Subject</span>
          </button>
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Class Assign</span>
          </button>
        </mat-menu>


        <!--=================================================================================================-->
        <!------------------------------------------- BOOKS MENU ------------------------------------------>
        <!--=================================================================================================-->


        <button mat-raised-button class="addstp" [matMenuTriggerFor]="books" aria-label="Example icon-button with a menu">
          <mat-icon class="addrecord">cloud_upload</mat-icon>
        </button>
        <mat-menu #books="matMenu">
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Upload Content</span>
          </button>
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Attachment Type</span>
          </button>
        </mat-menu>



        <!--=================================================================================================-->
        <!-------------------------------------------- HOMEWORK MENU ------------------------------------------>
        <!--=================================================================================================-->


        <button mat-raised-button class="addstp" [matMenuTriggerFor]="homework" aria-label="Example icon-button with a menu">
          <mat-icon class="addrecord">file_copy</mat-icon>
        </button>
        <mat-menu #homework="matMenu">
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Homework</span>
          </button>
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Evaluation Report</span>
          </button>
        </mat-menu>


        <!--=================================================================================================-->
        <!-------------------------------- Exam Schelude marks and grade ------------------------------------------>
        <!--=================================================================================================-->


        <button mat-raised-button class="addstp" [matMenuTriggerFor]="exammaster"><mat-icon>assessment</mat-icon></button>
        <mat-menu #exammaster="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="exam">
              <mat-icon>play_arrow</mat-icon>
              <span>Exams</span>
            </button>
            <button mat-menu-item [matMenuTriggerFor]="examschedule">
              <mat-icon>play_arrow</mat-icon>
              <span>Exam Schedule</span>
            </button>

            <button mat-menu-item [matMenuTriggerFor]="marks">
              <mat-icon>play_arrow</mat-icon>
              <span>Marks</span>
            </button>
        </mat-menu>
        <mat-menu #exam="matMenu">
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Exam Term</span>
          </button>
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Exam Hall</span>
          </button>
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Distribution</span>
          </button>
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Exam Setup</span>
          </button>
        </mat-menu>
        <!-------------------------------Exam Schedule menu--------------------->
        <mat-menu #examschedule="matMenu">
            <button mat-menu-item>
          <mat-icon>play_arrow</mat-icon>
          <span>Schedule</span>
        </button>
            <button mat-menu-item>
          <mat-icon>play_arrow</mat-icon>
          <span>Add Schedule</span>
        </button>
        </mat-menu>
        <!-------------------------------Marks menu--------------------->
        <mat-menu #marks="matMenu">
            <button mat-menu-item>
        <mat-icon>play_arrow</mat-icon>
        <span>Marks Entries</span>
      </button>
            <button mat-menu-item>
        <mat-icon>play_arrow</mat-icon>
        <span>Grades Range</span>
      </button>
        </mat-menu>



        <!--=================================================================================================-->
        <!-------------------------------- ATTENDANCE OF ALL MEMBERS STD AND EXAMS ------------------------------------------>
        <!--=================================================================================================-->


        <button mat-raised-button class="addstp" [matMenuTriggerFor]="attendance" aria-label="Example icon-button with a menu">
          <mat-icon class="addrecord">event_note</mat-icon>
        </button>
        <mat-menu #attendance="matMenu">
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Student</span>
          </button>
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Employee attendance</span>
          </button>
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Exams</span>
          </button>
        </mat-menu>

        <!--=================================================================================================-->
        <!-------------------------------- LIBRARY MENU ------------------------------------------>
        <!--=================================================================================================-->


        <button mat-raised-button class="addstp" [matMenuTriggerFor]="library" aria-label="Example icon-button with a menu">
          <mat-icon class="addrecord"> notes</mat-icon>
        </button>
        <mat-menu #library="matMenu">
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Books</span>
          </button>
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Books Category</span>
          </button>
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>My Issued Books</span>
          </button>
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Book Issue/Return</span>
          </button>
        </mat-menu>

        <!--=================================================================================================-->
        <!-------------------------------- STUDENT ACCOUNTING MENU ------------------------------------------>
        <!--=================================================================================================-->


        <button mat-raised-button class="addstp" [matMenuTriggerFor]="stdaccounting" aria-label="Example icon-button with a menu">
          <mat-icon class="addrecord">account_balance</mat-icon>
        </button>
        <mat-menu #stdaccounting="matMenu">
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Fees Type</span>
          </button>
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Fees Group</span>
          </button>
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Fine Setup</span>
          </button>
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Fees Allocation</span>
          </button>
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Fees Pay/Invoice</span>
          </button>
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Due Fees Invoice</span>
          </button>
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Fees Reminder</span>
          </button>
        </mat-menu>



        <!--=================================================================================================-->
        <!-------------------------------- OFFICE ACCOUNTING MENU ------------------------------------------>
        <!--=================================================================================================-->


        <button mat-raised-button class="addstp" [matMenuTriggerFor]="officeaccounting" aria-label="Example icon-button with a menu">
          <mat-icon class="addrecord">attach_money</mat-icon>
        </button>
        <mat-menu #officeaccounting="matMenu">
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Account</span>
          </button>
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>New Deposit</span>
          </button>
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>New Expense</span>
          </button>
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>All Transactions</span>
          </button>
            <button mat-menu-item>
            <mat-icon>play_arrow</mat-icon>
            <span>Voucher Head</span>
          </button>
        </mat-menu>

    </mat-drawer>


    <!-------------------------------- DRAWER SECTION END ------------------------------------------>



    <!-------------------------------- PAGES OR COMPONENT SECTION START ------------------------------------------>
    <div class="example-sidenav-content ">
        <mat-card class="main-content">
            <mat-card-content>
                <router-outlet></router-outlet>
            </mat-card-content>
        </mat-card>
    </div>
</mat-drawer-container>

<!-------------------------------- PAGES OR COMPONENT SECTION END ------------------------------------------>