html {
    font-size: 62.75%;
}

mat-drawer-container {
    height: 100vh;
    background-color: white;
}

mat-drawer {
    width: 6rem;
    background-color: #3D3D3D;
}

.main-content {
    background-color: #C1C1C1;
    height: 100vh;
    margin: 0.7rem;
    border-radius: 25px 25px 25px 25px;
}

.addstp {
    background-color: transparent;
    height: 4rem;
    width: 3rem;
    place-items: center;
    color: white;
    display: inline-block;
    justify-content: center;
    margin: auto;
    border: 3px solid #568CF8;
    flex: auto;
    margin-top: 0.6rem;
    border-radius: 20%;
    display: block;
}

.addstp:focus {
    background-color: white;
    color: #495057;
}