<mat-card>
    <h2 class="academicheading">
        <span>GUARDIAN DETAILS</span>
    </h2>
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Relation</mat-label>
                    <input matInput type="password">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Father Name</mat-label>
                    <input matInput type="password">
                </mat-form-field>
            </td>
        </tr>
    </table>
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Occupation</mat-label>
                    <input matInput>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Income</mat-label>
                    <input matInput type="password">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Education</mat-label>
                    <input matInput type="password">
                </mat-form-field>
            </td>
        </tr>
    </table>

    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Contact No</mat-label>
                    <span matPrefix>+92 &nbsp;</span>
                    <input type="tel" matInput placeholder="XXX-XXXXXXX">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Ex. pat@example.com">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Caste</mat-label>
                    <input matInput>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>City</mat-label>
                    <input matInput>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>State</mat-label>
                    <input matInput>
                </mat-form-field>
            </td>
        </tr>
    </table>


    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <p>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Address</mat-label>
                        <textarea matInput></textarea>
                    </mat-form-field>
                </p>
            </td>
        </tr>
    </table>
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <button mat-raised-button color="primary">Primary</button>
            </td>
        </tr>
    </table>
</mat-card>
