mat-card {
    background-color: grey;
    color: white;
}

table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}

th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}

.column {
    font-family: Signika, sans-serif;
}

.headingofonlineadmission {
    color: #FFB6C1;
    font-family: Signika, sans-serif;
}

mat-card {
    background-color: grey;
    color: white;
}

mat-label {
    color: white;
}

mat-form-field {
    color: white;
}
